/* ------------------------------------------------------- */
/* Index */
body {
	background: lightgray;
}
.div_IniciaAtendimento {
	margin-top: 15%;
}
.div_IniciaAtendimento .btn-success {
	padding-top: 80px;
	height: 200px;
	width: 300px;
	box-shadow: 0px 0px 10px 0px #424242;
	font-size: 25px;
	transition: 0.5s;
}

.div_IniciaAtendimento .btn-success2 {
	padding-top: 80px;
	height: 200px;
	width: 300px;
	box-shadow: 0px 0px 10px 0px #424242;
	font-size: 25px;
	transition: 0.5s;
}

/* ------------------------------------------------------- */
/*Inicio*/
.div_InicioTotal {
	padding: 30px 0;
}

.img_Logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.div_InicioTotal .div_InicioCategoria {
	padding-top: 20px;
}

.div_InicioGaleria img {
	height: 200px;
	padding: 10px;
	display: block;
	margin: 0 auto;
}
#owl_Produtos .owl-pagination {
	display: none;
}
#owl_Ingredientes .owl-pagination {
	display: block !important;
}
.customNavigation .next {
	position: absolute ;
	top: 100px;
	right: -25px; 
	font-size: 27px;
	color: #333;
	box-shadow: none;
}
.customNavigation .prev {
	position: absolute ;
	top: 100px;
	left: -25px; 
	font-size: 27px;
	color: #333;
	box-shadow: none;
}

.form_Quantidade {
	width: 330px;
}

.div_InicioPedido {
	padding-bottom: 30px;
}

/* ------------------------------------------------------- */
/*Ver Pedidos*/
.div_VerPedidosTotal {
	padding-bottom: 30px;
}
.div_VerPedidosTotal .table {
	margin-top: 30px;
}

.div_VerPedidosTotal .glyphicon-minus {
	margin-left: 20px;
}

.div_VerPedidosTotal .div-valorPedido h4 span {
	font-size: 25px;
	font-weight: 700;
}
.div_VerPedidosAdmin .form-control {
	width: 250px;
    height: 25px;
    font-size: 11px;
}
.div_BotaoVoltar {
	padding-left: 0;
}
.div_BotaoAvancar {
	padding-right: 0;
}


/* ------------------------------------------------------- */
/*Login / Cadastro*/
.div_RecuperaSenha,
.div_LoginTotal,
.div_CadastroTotal {
	padding: 30px 0;
}
.div-RecuperaSenha,
.div-Login,
.div-Cadastro {
	padding-top: 30px;
	margin-left: 30%;
	width: 444px;
}

/* ------------------------------------------------------- */
/* Administrador */
.div_Administrador {
	margin-top: 10%;
}
.div_Administrador .btn-maior {
	padding-top: 70px;
	height: 150px;
	width: 80%;
	box-shadow: 0px 0px 10px 0px #424242;
	font-size: 25px;
	transition: 0.5s;
}

.div_Administrador_botoes .btn-menor {
	margin-top: 5%;
    padding-top: 6%;
	height: 90px;
	width: 65%;
	box-shadow: 0px 0px 10px 0px #424242;
	font-size: 15px;
	transition: 0.5s;
}

/* ------------------------------------------------------- */
/* Mesas Disponiveis */
.div_MesasDispTotal,
.div_MesasDispTotal * {
	transition: 0.7s;
}

.div_MesasDispTotal {
	padding: 30px 0;
}
.div_MesasDispTotal .img_Logo{
	margin-bottom: 20px;
}
.div_MesasDispTotal .h2_Titulo{
	padding: 30px 0;
}

.div_MesasDispTotal .div_MesasDisp {
	/*padding: 10px 0;
	margin: 10px 0; 
	border: 1px dashed #303030;*/
	margin-bottom: 20px;
}
.div_MesasDispTotal .div_MesasDisp .div_Mesas:hover {
	transform: translateY(-15px);
}

.div_MesasDispTotal .div_MesasDisp .p_Mesa0 {
	padding-top: 20px;
	border: 3px solid red;
	border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.div_MesasDispTotal .div_MesasDisp .p_Mesa1 {
	padding-top: 20px;
	border: 3px solid green;
	border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
}
.div_MesasDispTotal .div_MesasDisp .p_Mesa2 {
	padding-top: 20px;
	border: 3px solid goldenrod ;
	border-radius: 50%;
    display: inline-block;
    height: 100px;
    width: 100px;
}


.div_LegendaMesas {
	cursor: pointer;
}
.div_LegendaMesas:hover .p_Legenda {
	transform: scale(1.2);
}
.div_LegendaMesas:hover .p_StatusMesa {
	font-weight: bold !important;
}


.div_MesasDispTotal .p_Legenda0 {
	position: relative;
	top: 15px;
	background-color: green;
	border: 3px solid green;
	border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.div_MesasDispTotal .p_Legenda1 {
	position: relative;
	top: 15px;
	background-color: red;
	border: 3px solid red;
	border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.div_MesasDispTotal .p_Legenda2 {
	position: relative;
	top: 15px;
	background-color: goldenrod;
	border: 3px solid goldenrod;
	border-radius: 50%;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.div_MesasDispTotal .p_StatusMesa {
	padding-left: 20px;
	display: inline;
}

.div_MesasDispTotal .div_BotaoVoltar {
	margin-top: 40px;

}
.div_MesasDispTotal .div_BotaoLiberar {
	margin-top: 10px;
	width: 55%;
}

.div_MesasDispTotal .div_Select {
	margin-top: 40px;
	/*margin-bottom: 10px;*/
}

#div_Categoria {
	position: absolute;
}

#div_Subcategoria {
	position: absolute;
	left: 60%;
}

#exampleInputTempo {
	width: 20%;
}
#exampleInputPreco {
	width: 25%;
}

#div_Preco {
	position: relative;
}


/* ------------------------------------------------------- */
/* Ajustes Responsivo */
@media only screen and (max-width: 991px) {
	.form-quantidade {
		margin: 0 5px 15px 0;
		width: 170px;
		float: left; 
	}
	.form_Quantidade {
		width: 270px;
	}

	.div-Login,
	.div-Cadastro {
		margin-left: 20%;
	}
}

@media only screen and (max-width: 450px) {
	.div_LoginTotal,
	.div-CadastroTotal {
		margin-bottom: 50px;
	}
	.div-Login,
	.div-Cadastro {
		margin-left: 0;
		width: 300px ;
	}
}

@media only screen and (min-width: 1px) and (max-width: 991px) {
	.div-RecuperaSenha,
	.div-Login, 
	.div-Cadastro {
		width: 100% !important;
		margin-left: 0 !important;
	}

}


.table, tr, td, th{
	border: 1px solid black;
	text-align: center;
}

#table_Status{
	border: 2px solid black;
	width: 100%;
	height:100%;
}